.markdown-renderer {
  /* Ensure proper spacing between elements */
  line-height: 1.6;
}

.markdown-renderer h1,
.markdown-renderer h2,
.markdown-renderer h3,
.markdown-renderer h4,
.markdown-renderer h5,
.markdown-renderer h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-renderer h1 {
  font-size: 2em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

.markdown-renderer h2 {
  font-size: 1.5em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

.markdown-renderer h3 {
  font-size: 1.25em;
}

.markdown-renderer h4 {
  font-size: 1em;
}

.markdown-renderer h5 {
  font-size: 0.875em;
}

.markdown-renderer h6 {
  font-size: 0.75em;
  color: #6a737d;
}

.markdown-renderer p {
  margin-top: 0;
  margin-bottom: 1em;
}

.markdown-renderer ul,
.markdown-renderer ol {
  padding-left: 2em;
  margin-bottom: 1em;
}

.markdown-renderer ul {
  list-style-type: disc;
}

.markdown-renderer ol {
  list-style-type: decimal;
}

.markdown-renderer li {
  margin-bottom: 0.25em;
}

.markdown-renderer blockquote {
  margin: 0 0 1em 0;
  padding: 0 1em;
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
}

.markdown-renderer pre {
  margin-bottom: 1em;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

.markdown-renderer code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 6px;
}

.markdown-renderer pre code {
  padding: 0;
  font-size: 100%;
  background-color: transparent;
  border-radius: 0;
}

.markdown-renderer table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

.markdown-renderer table th,
.markdown-renderer table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-renderer table th {
  font-weight: 600;
  background-color: #f6f8fa;
}

.markdown-renderer img {
  max-width: 100%;
  box-sizing: content-box;
}

.markdown-renderer hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}