/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: var(--ifm-background-color);
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBanner .container {
  max-width: 800px;
}

.heroBanner :global(.hero__title) {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: var(--ifm-font-color-base);
}

.heroBanner :global(.hero__subtitle) {
  font-size: 1.5rem;
  color: var(--ifm-font-color-base);
  opacity: 0.8;
  font-weight: 400;
  line-height: 1.6;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem 1.5rem;
    min-height: 60vh;
  }

  .heroBanner :global(.hero__title) {
    font-size: 2rem;
  }

  .heroBanner :global(.hero__subtitle) {
    font-size: 1.2rem;
  }
}

.mainContent {
  background-color: var(--ifm-background-color);
  min-height: 30vh;
}
