/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* RTL support for Urdu language */
html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

html[dir="rtl"] .navbar__items .navbar__item,
html[dir="rtl"] .navbar__items .navbar__link {
  margin-left: 0;
  margin-right: var(--ifm-navbar-item-padding-horizontal);
}

html[dir="rtl"] .navbar-sidebar__item,
html[dir="rtl"] .navbar-sidebar__items {
  text-align: right;
}

html[dir="rtl"] .menu {
  padding-left: 0;
  padding-right: var(--ifm-menu-link-padding-horizontal);
}

html[dir="rtl"] .menu__list .menu__list-item .menu__link {
  border-radius: var(--ifm-menu-link-radius) 0 0 var(--ifm-menu-link-radius);
}

html[dir="rtl"] .pagination-nav__link {
  text-align: right;
}

html[dir="rtl"] .pagination-nav__sublabel {
  transform: rotate(180deg);
  display: inline-block;
}

/* RTL for code blocks and content */
html[dir="rtl"] .markdown {
  text-align: right;
}

html[dir="rtl"] .theme-code-block {
  direction: ltr; /* Code should remain LTR */
  text-align: left;
}

html[dir="rtl"] pre,
html[dir="rtl"] code {
  direction: ltr;
  text-align: left;
}
